body{
    margin: 0;
    color:rgb(255, 255, 255);
    background-color: rgb(221, 235, 16);
}
#seccion1{

    font-size: 2.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 35vh;
    color:white;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

   }
#proyectos{
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 10px;
    text-align: center;
}
img{
    width: 50%;
    max-width: 300px;
    min-width: 100px;
}
p{
    padding: 0.5em;
}

@media (min-width:750px) {
h1{
      font-size: 3.5em;
    } 
}
