body{
    margin: 0;
    color:rgb(255, 255, 255);
    background-color: rgb(221, 235, 16);
}
#seccion1{
    background-image: url(https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_1280.jpg) ;
    background-size: cover;
    background-position: center ;
    height: 300px;
    width: auto;

}
.title{
    font-size: 6vw;
    text-align: center;
    padding: 2px;

}
#proyectos{
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 10px;
    text-align: center;
}
img{
    width: 50%;
    max-width: 300px;
    min-width: 100px;
}
p{
    padding: 0.5em;
}

h1{
    align-self: center;

}